*{
    padding: 0;
    margin: 0;
}
/* head start */
.head-area{
    background-color:#75B9F4;
    height:480px;  
}
.nav-area{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;

}
.nav-area ul{
    display: flex;
    list-style: none;
}
.nav-area ul li a{
    display: flex;
    /* list-style: none; */
    text-decoration: none;
    padding: 10px;
}
.nav-area ul li a:hover{
    cursor: pointer;
    border: 1px solid #58eaea;
    border-radius: 30px;
    color: aliceblue;
    box-shadow: 0 0 5px;
}
/* .nav-button {

} */
.nav-button a {
    text-decoration: none;
    list-style: none;
}
.btn-highlight{
    border: 1px solid rgb(218, 96, 96);
    background-color:#F73C6B;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.btn-highlight:hover{
    cursor: pointer;
    border: 1px solid #58eaea;
    border-radius: 30px;
    color: aliceblue;
    box-shadow: 0 0 5px;
}
/* head end */
/* header hero start */
.header-hero{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    margin: 0 auto;
}
.head-img{
    margin-right: 10%;   
}
.head-img img{
    width: 400px;  
}
/* .head-text{
    
} */
.head-text h2{
    font-size: 30px;
    margin-bottom: 25px;
}
.head-text p{
    font-size: 16px;
    margin-bottom: 25px;
    text-justify:inter-word;
    text-align: justify;
}
.head-text a{
    border: 1px solid rgb(218, 96, 96);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.head-text a:hover{
    border: 1px solid rgb(225, 83, 83);
    font-size: 18px;
    color: aliceblue;
    transition: 0.3s;
}
/* header hero end */
/* containar start */
.containt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
/* .containt-text img{
    position: absolute;
    left: 20px;
    top: 40px;
    width: 50px;
} */
.containt-text{
    margin: 0px;

}
.containt-text h6{
    font-size: 16px;
    background-color:#4F55DD;
    border-radius: 15px;
    width: 588px;
    height: 135px;
    color: aliceblue;
    padding: 10px;
    margin-top: 120px;
    
}
.containt-text p{
   padding-top: 50px;
   font-size: 16px;
}
/* containar end */
/* simplify section start  */
.simplify{
    width: 100%;
    /* height: 250px; */
    background-color:  #FFBD6D;

    
}
.simplify-area{
    
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    /* margin: 0 auto; */
}
.simplify-area div{
    width: 40%;
}
.simplify-area div h2{
    font-size: 25px;
}
.simplify-text-2{
    margin-left: 50% ;
}
/* simplify section end  */
/* service section start  */
.service{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 20px;
}
.service div i{
    color: #4F55DD;
}
/* service section end  */
/* scratch section start  */
.scratch{
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 70%;
}
.scratch-img{
    width: 70%;
    margin-left:100px ;
}
.scratch-text{
    margin-left: 150px;
}
/* scratch section end  */
/* business section start  */
.business{
    background: #2ED57380;
    height: 150px;
    padding-bottom: 100px;
    padding-top: 0px;
    /* position: relative; */

}
.business-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.business-input{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
}
.business-area img{
    width: 400px;
    /* position: absolute; */
    /* top: 20px; */
}
/* business section end  */
/* card section start  */
.card{
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
}
.card-h2{
    margin-left: 80px;
}
.card-area{
display: flex;
align-items: center;
gap: 10px;
justify-content: space-around;
padding: 20px 20px 0 20px;
}
.single-card{
    /* border: 1px solid black; */
    padding: 10px;
    background-color: transparent;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    margin: 20px;
}
.single-card h3{
    background-color:antiquewhite;
    padding: 10px;
    margin-top: 20px;
    border-radius:0 0 15px 15px ;
}
/* card section end  */
/* footer section start  */
footer{
    background-color: #2ED57380;
    /* margin-bottom: 30px; */
    margin-top: 30px;
    width: 100%;
    height: 400px;
}
.footer-area{
    width: 80%;
    margin: 0 auto;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.footer-area div {
    width: 40%;
}
.footer-logo{
    margin-top: 20px;
    font-size: 20px;
}
.footer-menu{
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    gap: 100px;
}
.footer-country{
    margin:0 auto;
    display: flex;
    justify-content: end;
    gap: 30px;
    margin-top: 20px;
}
.footer-payment{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom:  30px; ;
}
.footer-copyright{
    width: 80%;
    margin: 0 auto;
    
}
/* footer section end  */
